html {
	background: url('background.jpg');
}

:focus {
	outline: 0;
}
.titleAlgo{
	position: absolute;
	top: calc(10% - 35px);
	left: calc(50% - 110px);
	z-index: 2;
}

.jsp{
	position: absolute;
	top: calc(25% - 35px);
	left: calc(25% - 255px);
	z-index: 2;
}

.jsf{
	position: absolute;
	top: calc(25% - 35px);
	left: calc(25% - 255px);
	z-index: 2;
}
div{
	float: left;
	color: #000000;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
}
div span{
	color: #5379fa !important;
}
.manual {
    position: absolute;
    top: calc(25% - 75px);
    left: calc(50% - 70px);
    height: 150px;
    width: 350px;
    padding: 10px;
    z-index: 2;
}
.upload {
    position: absolute;
    top: calc(55% - 75px);
    left: calc(50% - 70px);
    height: 150px;
    width: 350px;
    padding: 10px;
    z-index: 2;
}

.errorMessage{
    width: 250px;
    height: 30px;
    background: #FF0000;
    border-radius: 0px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
}

input[type=file]{
    width: 250px;
    height: 30px;
    background: #000;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 0px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
}


input[type=text]{
	width: 250px;
	height: 30px;
    background: #000;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 0px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

input[type=number]{
	width: 250px;
	height: 30px;
    background: #000;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 0px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

input[type=submit]{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 0px;
	color: #000000;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

input[type=button]:hover{
	opacity: 0.8;
}

input[type=button]:active{
	opacity: 0.6;
}

input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,100);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,100);
}
