html {
	background: url('background.jpg');
    background-position:center;
}

h3 {
    position: center;
    float: center;
	color: #000000;
	font-family: 'Exo', sans-serif;
	font-size: 30px;
	font-weight: 200;
}

.functionMax {
    position: left;
    color: #000000;
    font-size: 20px;
    font-weight: 20;
    padding: 10px;
    z-index: 2;
}

.btnDel{
	background: url('delBtn2.png') center no-repeat;
	background-size: 100%;
	background-position: center;
	padding-left: 15px;
	opacity: 0.2;
	width: 25px;
	height: 25px;
	border: none;
	cursor: pointer;
	border-radius: 0px;
	color: #ff0000;
	font-family: 'Exo', sans-serif;
	font-size: 15px;
}

.btnDel:hover{
	opacity: 1;
	width: 30px;
	height: 30px;
}

.btnAdd{
	background: url('addBtn3.png') center no-repeat;
	background-size: 100%;
	background-position: center;
	padding-left: 15px;
	opacity: 1;
	width: 25px;
	height: 25px;
	border: none;
	cursor: pointer;
	border-radius: 0px;
	color: #ff0000;
	font-family: 'Exo', sans-serif;
	font-size: 15px;
}

.btnAdd:hover{
	opacity: 0.5;
	width: 30px;
	height: 30px;
}

input[type=number]{
    height: 15px;
    width: 60px;
	border: 1px solid rgba(0,0,0,0.6);
	border-radius: 1px;
    text-align:center;
	font-family: 'Exo', sans-serif;
	font-size: 15px;
	font-weight: 400;
	padding: 4px;
}

input[type=submit]{
	width: 60px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 0px;
	color: #000000;
	font-family: 'Exo', sans-serif;
	font-size: 13px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

button {
	width: 60px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 0px;
	color: #ff0000;
	font-family: 'Exo', sans-serif;
	font-size: 13px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

input[type=button]:hover{
	opacity: 0.8;
}

input[type=button]:active{
	opacity: 0.6;
}

input[type=number]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

input[type=button]:focus{
	outline: none;
}

.newAdd{
	opacity: 0.2;
}

.newAdd: hover{
	opacity: 1;
}



::-webkit-input-placeholder{
   color: rgba(255,255,255,100);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,100);
}
