﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="css/DefaultPage.css">
	<title>Simplex Algorithm</title>
</head>
<body>
	<div class="titleAlgo">
		<div>Algorithme du simplexe</div>
	</div>
		
	<div class="manual">
	@{Html.BeginForm("Index", "ManualPage");}
		<input type="hidden" name="checked" value='@ViewBag.currentMd5'/><br/>
		<input type="number" name="nbVariablesText" min="1" 
				placeholder="Nombre de variables" required/><br/>
		<!--<input type="number" name="nbContraintesText" min="1" 
				placeholder="Nombre de contraintes" required/><br/>
		-->
		<input type="submit" value="Submit" />
	@{Html.EndForm();}
	</div>

	<div class="upload">
	<form action="/UploadPage" method="post" enctype="multipart/form-data"> 
		<input type="hidden" name="checked" value='@ViewBag.currentMd5'/><br/>
		<input type="file" name="fileUpload" id="fileUpload" required/> <br/>
		<input type="submit" value="Upload" /> 
	</form>
	</div>
			
</body>
</html>
