﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
   <meta name="viewport" content="width=device-width" />
	<script type="text/javascript" src="Scripts/ManualPageScript.js"></script>
	<link rel="stylesheet" type="text/css" href="css/ManualPage.css">

	<!--
	 <link rel="stylesheet" type="text/css" href="http://jsxgraph.uni-bayreuth.de/distrib/jsxgraph.css" />
	<script type="text/javascript" 
		src="//cdnjs.cloudflare.com/ajax/libs/jsxgraph/0.99.5/jsxgraphcore.js"></script>
	-->
	<script type="text/javascript" src="Scripts/jsxgraphcore.js"></script>
	<link rel="stylesheet" type="text/css" href="css/jsxgraph.css">

	<title>Simplex algorithm</title>
</head>
<body>
	@{Html.BeginForm("Index", "Home");}
   	  <input type="submit" value="Accueil" />
	@{Html.EndForm();}<!--@{Html.BeginForm("Index", "SolutionPage", new { id="form2"});}-->

	<input type="hidden" id="currentRow" name="currentRow" value='@ViewBag.nbCons'/>
		
	<form id="form2" action="/SolutionPage" method="post">
	<h3>Fonction</h3>
	<div class="functionMax" align='center'>
	<p>Quel est le but de la fonction? 
	@Html.Raw(ViewBag.selectedGoal)
	</p>

	<input type="hidden" id="nbVars" name="nbVars" value='@ViewBag.nbVars' />
	<input type="hidden" id="nbCons" name="nbCons" value='@ViewBag.nbCons' />
	<input type="hidden" id="checked" name="checked" value='@ViewBag.currentMd5'/><br/>

	@Html.Raw(ViewBag.formula1)
	</div>

	<h3>Constraintes</h3>
	<div id="wrapper" align='center'>
	<table  cellspacing=2 cellpadding=2 id="data_table" border=0>

	@Html.Raw(ViewBag.formula2)

	</table>
	</div>
	<br/>

	<div align='center'>
	@Html.Raw(ViewBag.formula3)
	</div>

	<div align='center'>
	@Html.Raw(ViewBag.graphic)
	</div>

				
	<button onclick="JavaScript:window.history.back(1);return false;">Retour</button>
    <input type="submit" value="Valider" />
	<!--@{Html.EndForm();}-->
	</form>	

</body>
</html>

