﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" type="text/css" href="css/SolutionPage.css">
    <title>Solution</title>
</head>
<body>
		@{Html.BeginForm("Index", "Home");}
     	<input type="submit" value="Accueil" />
		@{Html.EndForm();}

		@{Html.BeginForm("Download", "SolutionPage");}
			
		<input type="hidden" id="nbVars" name="nbVars" value='@ViewBag.nbVars' />
		<input type="hidden" id="nbCons" name="nbCons" value='@ViewBag.nbCons' />
		<input type="hidden" id="checked" name="checked" value='@ViewBag.currentMd5'/><br/>
			
		<div class="table-title">
		<h3>Les étapes de transformation des problèmes linéaires à la forme canonique</h3>
			<h4>Les problèmes initiaux</h4>
			@Html.Raw(ViewBag.init)

			<h4>I. Transformer des contraintes de type &ge; 
					à des contraintes de types &le; en multipliant par -1</h4>
			@Html.Raw(ViewBag.firstStep)

			<h4>II. Transformer des variables négatives à des variables positives</h4>
				<h5>x<sub>i</sub> = t<sub>i</sub> - w<sub>i</sub>, i &ge; 1,
					t<sub>i</sub> &ge; 0, w<sub>i</sub> &ge; 0</h5>

				@Html.Raw(ViewBag.secondStep)

			<h4>III. Transformer les constraintes d'inégalité à des constraintes d'égalités 
				en rajoutant des variables d'écart positives</h4>
		
			@Html.Raw(ViewBag.thirdStep)

			<h4>IV. Transformer les constraintes d'égalité où les termes 
				indépendants sont inférieurs à zéro en multipliant par -1</h4>
			@Html.Raw(ViewBag.fourthStep)

			<h4>Les problèmes sous forme canonique</h4>
			@Html.Raw(ViewBag.canonical)

		<h3>Les étapes de la méthode du tableau</h3>
		@Html.Raw(ViewBag.solution)
		</div>

		<button onclick="JavaScript:window.history.back(1);return false;">Retour</button>
		<input type="submit" value="Save" />
		@{Html.EndForm();}
</body>
</html>
